
.sub-sec-1{
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 bottom: 18rem;
}


.learn{
    border: none;
    border-radius: 3px;
    background-color: #F28D35;
    color: aliceblue;
    padding: 0.4rem 1rem;
}

.title{
    color: #6F3CE8;
}

p{
    font-weight: 480;
}

.sub-sec-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20rem;
    margin-bottom: -20rem;
}